<div class="timerContainer">
    <div class="timerWrapper">
      <h1 class="timerDisplay" [class.timeEnd]="timeLeft() === 0">{{ formatTime() }}</h1>
      <div class="progressBar">
        <div
          class="progressFill"
          [style.width.%]="(timeLeft() / (5 * 60)) * 100"
        ></div>
      </div>
    </div>
    <div class="buttonGroup">
      @if (!isActive()) {
        <button
          class="button startButton"
          (click)="startTimer()"
        >
          <span class="buttonIcon">▶</span> Iniciar
        </button>
      } @else {
        <button
          class="button pauseButton"
          (click)="pauseTimer()"
        >
          <span class="buttonIcon">⏸</span> Pausar
        </button>
      }
      <button
        class="button resetButton"
        (click)="resetTimer()"
      >
        <span class="buttonIcon">↻</span> Reiniciar
      </button>
    </div>
  </div>